/* General container styles */
.container {
  padding: 5px;
}

/* Navbar styles */
.navbar {
  padding: 15px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}

/* Align logo and text in the navbar */
.navbar .col-sm-10 {
  display: flex;
  align-items: center;
}

.navbar img {
  width: 60px;
  margin-right: 10px;
}


/* Dropdown styles */
.dropdown-toggle {
  background-color: #f8f9fa;
  border: none;
  padding: 8px 12px;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

.dropdown-menu a {
  color: #333;
  padding: 10px 20px;
}

/* Sidebar styles */
#sidebar {
  background-color: #f8f9fa;
  height: 100vh;
  padding: 15px;
  overflow-y: hidden;
}

#sidebar li {
  margin-bottom: 15px;
}

#sidebar a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

#sidebar a:hover {
  color: #edbc42;
}

#sidebar button {
  background: none;
  border: none;
  font-size: 16px;
}

#sidebar button.active a {
  color: #8c0d0c;
}
  /* Sidebar styles END */

/* Main content */
.col-md-10 {
  padding: 5px;
}


